body {
margin-top:60px;
/*  background-image: url("../images/back.jpg");
 background-repeat: no-repeat;
 background-position:top;
 background-color: #cccccc;
 background-size:100vw;
 z-index:0; */
 
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position:absolute; /*Your code here - position relative to the parent */;
  top:-40px;      /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

/*Your code here*/{
/*Add the selector and rule to move the skip link to the exact top.*/
.skip{
	overflow:hidden;
}
}
.skip a:focus{
	top:45px;
}
*:focus{
	outline:none;
	border:2px solid yellow;
}

.nav {
	position:fixed;
	overflow: auto;
	width:100%;
	left:0;
	top:-5px;
  background-color: #333;
  z-index:2;
}


.nav a {
  float: left;
  display: inline;
  color: white;
  text-align: center;
  padding: 15px;
  margin:0;
  text-decoration: none;
  font-size: 24px;
  
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: inline;
	z-index:2;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: fixed;}
  .nav.responsive .icon {
    position:fixed;
    right: 0;
    top: 0;
	z-index:2;
	
  }
  .nav.responsive a {
    float: none;
	top:0;
    display: block;
    text-align: left;
  }
}


i {
      vertical-align: middle;
	  margin-top:-5px;
    }	

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 3 / 2 / 4; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 2 / 3 / 3 / 4; }
.div4 { grid-area: 2 / 4 / 3 / 5; }


@keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(100vh);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
         }
		 
img{
	height:20vw;
	object-fit: cover;
}
video{
	position:absolute;
	min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	z-index=1;
}
.splash{
	left:0;
	top:0;
	padding:0;
	width:100vw;
	height:100vh;
	position: absolute;
overflow: hidden;
}
.main{
	top:30vh;
	left:24vw;
	position: absolute;
	font-size:10vw;
	color: black;
	text-align: center;
	animation-duration: 6s;
	animation-name: fadeInDown;
}
.space{
	position:relative;
	height:100vh;
}
