body {
	margin:0;
	width:100vw;
	background-color: black;
	font-family: 'Josefin Sans', sans-serif;
 
}
*{
	font-family: 'Josefin Sans', sans-serif;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position:relative; 
  top:40px;      
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 5;
}
.skip{
	overflow:hidden;
}
}
.skip a:focus{
	top:80px;
	
}
*:focus{
	outline:none;
	border:2px solid yellow;
}

.nav {
	position:fixed;
	overflow: hidden;
	width:100%;
	left:0;
	top:-5px;
  background-color: #333;
  z-index:2;
}


.nav a {
  float: left;
  display: inline;
  color: white;
  text-align: center;
  padding: 15px;
  margin:0;
  text-decoration: none;
  font-size: 24px;
  
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
	  display: none;}
  .nav a.icon {
    float: right;
    display: inline;
	z-index:2;
  }

  .nav.responsive {position: fixed;}
  .nav.responsive .icon {
    position:fixed;
    right: 0;
    top: 0;
	z-index:2;
	
  }
  .nav.responsive a {
    float: none;
	top:0;
    display: block;
    text-align: left;
  }
}


i {
      vertical-align: middle;
	  margin-top:-5px;
    }	
	 
video{
	position:absolute;
	min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	z-index=1;
}
.splash{
	left:0;
	top:0;
	padding:0;
	width:100vw;
	height:100vh;
	position: absolute;
	overflow: hidden;
	background-color:black;
}
.main{
	text-align:center;
	top:40%;
	left:50vw;
	transform: translate(-50%,-50%);
	position: absolute;
	font-size:8vw;
	color: white;
	animation-duration: 6s;
	animation-name: fadeInDown;
}
#arrow{
	z-index:1;
	position: absolute;
	top:80%;
	left:50vw;
	transform: translate(-50%,-50%);
	font-size:6vw;
	color:white;
	animation-duration: 6s;
	animation-name: fadeInDown;
}
#arrow:hover{
	font-size:7vw;
}
@keyframes fadeInDown {
            0% {
				
               opacity: 0;
               transform: translate(-50%,500%);
            }
            100% {
				
               opacity: 1;
               transform: translate(-50%,-50%);
            }
         }
.space{
	position:relative;
	height:98vh;
	width:100%;
}
.about{
	background-color:white;
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
	width:100vw;
}
.projects{
	overflow:hidden;
	height:100vh;
	width:100vw;
	background-color:transparent;
}
.gallery{
	margin-left:10px;
	margin-right:10px;
	padding:5px;
	overflow:hidden;
	display:grid;
	justify-items: center;
	grid-column-gap:10px;
	grid-row-gap: 5px;
	grid-template-columns: auto auto auto;
	
}
.contact{
	background-color:white;
	display:flex;
}

img{
	padding:0;
	width:100%;
	max-height:25vh;
	object-fit:cover;
	 border-radius: 10px;
  border: 2px solid #333;
}
img:hover{
	 filter: brightness(150%);
}
.contact{
	
	border-radius: 50px;
	border: 0px solid #333;
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-items: center;
}
a#projects,#contact,#about{
	display:block;
	visibility:hidden;
	position:relative;
	top:-50px;
}
h2{
	text-align:center;
	padding:15px;
	font-size:4vh;
	color:black;
}
.contact h2{

	padding-left:2vw;
	padding-right:2vw;
}
.contact p{
	margin:10px;
	padding:2px;
}
.projects h2{
	color:white;
}
h3{
	margin-left:1px;
	margin-right:1px;
	text-align:center;
	font-size:3vh;
	padding:4vh;
}
p{
	margin-top:0;
	padding:2vh;
	background-color:#333;
	border:2px groove #333;
	border-radius: 5px;
	text-align:center;
	margin-left:2vw;
	margin-right:2vw;
	font-size:2.5vh;
	color:white;
}
.parallax {
  /* The image used */
  background-image: url('../images/back.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



label {
	display:block;
	text-align:center;
	font-size:2.5vw;
}
input[type=text], select, textarea, input[type=email] {
	position:relative;
	left:25%;
  width: 50%;
  font-size:2vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align:center;
  box-sizing: border-box;
}
input[type=submit] {
	position:relative;
	top:10px;
	width:50%;
	left:24%;
  background-color: #333;
  color: white;
  padding:12px;
  margin:10px;
  border: none;
  font-size:2vw;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}
.col-25 {
  float: center;
  width: 100%;
  margin-top: 6px;
}

.col-75 {
  float: center;
  width: 100%;
  margin-top: 6px;
}
footer p{
	background-color:black;
	border:none;
}

.flip-card {
	
  width:100vw;
  perspective: 1000px;
}
			
.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
  
}
.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
  
}
.flip-card-front {
  backface-visibility: hidden;
}
.flip-card-back {
	
	backface-visibility: hidden;
	margin-top:-10vh;
	transform: rotateY(180deg);
	
}
h1.main {
    color: #fff;
	text-align:center;
    font-weight: bold;
    letter-spacing: .01em;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

@media screen and (max-width: 600px) {
	.gallery{
	grid-template-columns: auto auto;
	}
	p{
		font-size:1.5vh;
	}
}
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;	
    -webkit-transition:default; 
    transition:default;
    z-index: 1;
  }
  .main{
	text-align:center;
	top:40%;
	left:50vw;
	transform: translate(-50%,-50%);
	position: absolute;
	font-size:8vw;
	color: white;
	animation-duration: 6s;
	animation-name: fadeInDown;
}
#arrow{
	z-index:1;
	position: absolute;
	top:80%;
	left:50vw;
	transform: translate(-50%,-50%);
	font-size:6vw;
	color:white;
	transition:default;
}
.flip-card-inner {
  transition: transform 0s;
  transform-style: preserve-3d;
}
  
}